html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    background: #fff;
    text-align: center;
    color: #fff;

    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.3fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: #FFA100;
}

.hero {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #F2C8DA;
}

.main {
    grid-column: 2 /4;
    grid-row: 2 / 4;
    background-color: #00C075;
    background-image: url("css_is_awesome.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    background-color: #898989;
}

.extra{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background-color: #92CB60;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    background-color: #F9C803;
}

.posts{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    background-color: #DBC5E3;
}

.footer{
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    background-color: #00DAF0;
}

.extra-item{
    height: 100%;
    flex-grow: 1;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.extra-item-content{
    background: red;
    height: 100%;
    width: 100%;
}

@media (max-width: 700px) {
    .header {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .hero {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: none;
    }

    .main {
        grid-column: 1 /4;
        grid-row: 2 / 6;
    }

    .sidebar {
        display: none;
    }

    .extra{
        grid-column: 1 / 4;
        grid-row: 6 / 7;
    }

    .images{
        grid-column: 1 / 4;
        grid-row: 7 / 8;
    }

    .posts{
        grid-column: 1 / 4;
        grid-row: 8 / 9;
    }

    .footer{
        grid-column: 1 / 4;
        grid-row: 9 / 10;
    }
}